<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">

 <!-- set viewport to device width to make site responsive -->
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- bootstrap css -->
 <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

 <!-- custom styles -->
 <link rel="stylesheet" type="text/css" href="/styles/style.css">

 <!-- jquery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

 <!-- bootstrap js -->
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 <!-- custom script -->
 <script type="text/javascript" src="/scripts/app.js"></script>

 <title>betoncharity</title>
</head>
<body>


  <!-- page content -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <!-- list of games -->
        <ul class="list-group" id="games-list">

          <% for (let game of games) { %>

                <%= game.description %>
                <%= game._id %>


              </li>
            <% } %>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
