<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Betting on Charity</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="/styles/owl.carousel.css">

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <script src="scripts/js/min/media.match.min.js"></script>

</head>

<body>
<div id="main-wrapper">

  <!-- Start Header -->
  <header id="header" class="fourth-version">
    <div class="container">
      </div>
      <div class="header-navbar col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
        <nav class="navigation">

          <ul class="list-inline text-center custom-list">
            <a href="index.html" id="logo-index"><img src="img/header-banner.png" alt=""></a>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#games">Games</a></li>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#footer">Contact</a></li>
            <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
            <div>
              <% if(!user) { %>
                <a href="/login">Log in</a>
                <a href="/signup">Sign up</a>
              <% } else { %>
                <div style="display: none;">Welcome, <%= user.username %>!</div>
                <div>Welcome, <%= user.firstname %>!</div>
                <a href="/logout">Log out</a>
              <% } %>
              </div>
              <hr>
            <!-- <a href="/signup"><span>Sign up/Log in</span></a> -->
          </ul>
        </nav>
        <button class="navbar-toggle">
          <i class="fa fa-list"></i>
        </button>
      </div>
    </div>
  </header>


  <!-- End Header -->

  <!-- Start Intro -->
  <div class="intro">
    <div id="home-slider" class="owl-carousel owl-theme">
      <div class="item">
        <img src="img/slider/bg1.jpg" alt="">
        <div class="slide-content extra col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 text-center">
          <h1>You already donate to charity, right?</h1>
          <h1>Want to bet that it can be fun?</h1>

        </div>
      </div>
      <div class="item">
        <img src="img/slider/bg2.jpg" alt="NCAA">
        <div class="slide-content extra col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 text-center">
          <h1>Do you help the Homeless, or Puppies, or...</h1>
          <h1>Who will win NCAA 2018 Final Championship? </h1>
          <a href="#" class="button"><span>Sign up</span><i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="item">
        <img src="img/slider/bg3.jpg" alt="">
        <div class="slide-content extra col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 text-center">
          <h1>Place your bet now, pick a winner, a charity!</h1>
          <h1>You win, and the Charity wins!</h1>
          <a href="#" class="button"><span>Read More</span><i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <div class="item">
        <img src="img/slider/bg4.jpg" alt="">
        <div class="slide-content extra col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 text-center">
          <h1>Play, Donate, and Have Fun. </h1>
  <br>
          <a href="#" class="button"><span>Read More</span><i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>
    <div class="customNavigation">
      <a class="btn prev"><i class="fa fa-angle-left"></i></a>
      <a class="btn next"><i class="fa fa-angle-right"></i></a>
    </div>
  </div>
  <!-- End Intro -->
  <% for (let game of games) { %>
                  <%= game.description %>
                  <%= game._id %>
                </li>
              <% } %>
  <!-- Start About -->
  <div id="about" class="about">

    <!-- Start Container -->
    <div class="container">
      <!-- Start About -->
      <div class="preamble text-center col-lg-10 col-lg-offset-1">
        <h2>About Betting on Charity</h2>
        <h3>We are a group of dedicated developers who wanted to create an application for the
          good of others!  People donate to causes all the time, why not let them have some fun,
          betting on the sports teams they love. And they do good for others.  Everyone wins! We
          created an application for those who donate to have some fun while their favorite
          charity still wins.</h3>

    <img src=/imgs/2018MarchMadeness.jpg>

      </div>
      <!-- End About -->

    </div>
    <!-- End Container -->

</div> <!-- end #main-wrapper -->

<!-- Scripts -->
<script type="text/javascript" src="/scripts/js/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/js/scripts.js"></script>
<script type="text/javascript" src="/scripts/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/scripts/js/jquery.ba-outside-events.min.js"></script>
<script type="text/javascript" src="/scripts/js/tab.js"></script>
<script type="text/javascript" src='/scripts/js/bootstrap-datepicker.js'></script>
<script type="text/javascript" src="/scripts/js/jquery.timelinr-0.9.54.js"></script>
<!-- <script type="text/javascript" src="/scripts/twitter/jquery.tweet.min.js"></script> -->
<!-- <script type="text/javascript" src="/scripts/apis.google.com/js/platform.js">
  {lang: 'pl'}
</script> -->

<!-- End Scripts -->
</div>
</body>
</html>
